<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr"
      th:replace="~{fragments/byId.html :: byId(~{ :: form},${element.id > 0})}">
<form th:remove="tag">
    <input type="hidden" th:field="*{resumes}">
    <div class="col-6 col-12-xsmall">
        <label for="projet">Nom du projet : <span th:each="err : ${#fields.errors('projet.id')}" th:text="${err}" /></label>
        <select name="demo-category" id="projet" th:field="*{projet.id}" required>
            <option th:value="0" selected>- Projet -</option>
            <option th:each="projet : ${projects}" th:value="${projet.id}" th:text="${projet.nom}"></option>
        </select>
    </div>
    <div class="col-6 col-12-xsmall">
        <label for="année">Année du projet : <span th:errors="*{annee}"></span></label>
        <input th:errorclass="invalid" type="text" pattern="^20(([0-1][0-9])|([[2][0-3]))$" id="année" th:field="*{annee}" placeholder="Année" required/>
    </div>
    <!-- Break -->
    <div class="col-12">
        <label for="candidat">Nom du Candidat : <span th:errors="*{candidat.id}"></span></label>
        <select name="demo-category" id="candidat" th:field="*{candidat.id}" required>
            <option th:value="0" selected>- Candidat -</option>
            <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.nom}"></option>
        </select>
    </div>
    <div th:if="*{id} != 0" class="col-12">
        <label>Liens :</label>
        <div class="row">
            <div class="col-6 col-12-xsmall row" style="justify-content: space-evenly">
                <a th:each="langue, index : ${langues}"
                   th:with="resume = ${element.resumes.?[#strings.contains(langue,#root.langue)]}"
                   th:href="${#strings.concat('/resumes/', #lists.isEmpty(resume) ? 'create/' + element.id + '/' + langue : resume[0].id)}"
                   class="button" th:inline="text">
                    Résumé : [[${langue}]]
                </a>
            </div>
            <div class="col-6 col-12-xsmall" >
                <a class="button primary fit" th:href="${#strings.concat('/dossiers/generate/',element.id)}">Générer le PDF</a>
            </div>
        </div>
    </div>
</form>
</html>
