<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr"
      th:replace="~{fragments/byId.html :: byId(~{ :: form})}">
<form th:remove="tag">
    <div class="col-12">
        <label for="nom">Nom du projet :</label>
        <input th:errorclass="invalid" type="text" id="nom" th:field="*{nom}" placeholder="SLRM" required/>
    </div>
        <div class="col-6 col-12-xsmall">
            <label>Compétences :</label>
            <ul style="max-height: 10vh; overflow: auto">
                <li class="row" style="list-style-type: none; border-bottom: 1px gray solid; align-items: center" th:each="comp : ${competences}">
                    <input style="appearance: auto; -moz-appearance: auto; opacity: 1; margin: 0; vertical-align: middle; height: 0.9em;" type="checkbox" th:id="${{comp}}" th:value="${{comp}}" th:field="*{competences}"/>
                    <label style="margin: 0" th:for="${{comp}}" th:text="${comp.nom}"></label>
                </li>
            </ul>
        </div>
        <!-- Break -->
        <div class="col-6 col-12-xsmall">
            <label>Paricipants :</label>
            <ul style="max-height: 10vh; overflow: auto">
                <li class="row" style="list-style-type: none; border-bottom: 1px gray solid; align-items: center" th:each="personne : ${personnes}">
                    <input style="appearance: auto; -moz-appearance: auto; opacity: 1; margin: 0; vertical-align: middle; height: 0.9em;" type="checkbox" th:id="${{personne}}" th:value="${{personne}}" th:field="*{participants}"/>
                    <label style="margin: 0" th:for="${{personne}}" th:text="${personne.nom}"></label>
                </li>
            </ul>
        </div>
</form>
</html>
